# Dia 1
Vamos lá, verificar o basico par ao inicio do projeto.
Ver quais bibliotecas e metodos vamos usar.
Depuração vamos Usar o Pandas.
Interface vamos usar o Django.
    Referencia Basica de Django: https://www.youtube.com/watch?v=-m5ywU8SW9E

Django não é tão complicado mesmo sendo muito verboso, talvez seja necessario 2 dias, mas com uma marcha pesada podemso fazer em 1 dia.

Vamos Ver o que encontramos enquanto vasculhamos nosso data Set

In [3]:
import csv

caminho_do_arquivo = "data/data.tsv"

# Lista para armazenar os dados
dados = []

# Contador para controlar o número de linhas lidas
contador_linhas = 0

# Abre o arquivo no modo de leitura
with open(caminho_do_arquivo, 'r', newline='', encoding='utf-8') as arquivo_tsv:
    leitor_tsv = csv.reader(arquivo_tsv, delimiter='\t')  # Definindo o delimitador como tabulação (\t)
    
    # Itera sobre cada linha do arquivo
    for linha in leitor_tsv:
        dados.append(linha)
        contador_linhas += 1
        
        # Se o contador atingir 10, interrompemos a leitura do arquivo
        if contador_linhas >= 10:
            break

# Agora a variável 'dados' contém apenas as 10 primeiras linhas do arquivo .tsv.
# Você pode acessar os elementos específicos usando a notação de índices, por exemplo:
# dados[0] irá fornecer a primeira linha do arquivo .tsv.

# Exemplo de impressão dos dados:
for linha in dados:
    print(linha)

['nconst', 'primaryName', 'birthYear', 'deathYear', 'primaryProfession', 'knownForTitles']
['nm0000001', 'Fred Astaire', '1899', '1987', 'soundtrack,actor,miscellaneous', 'tt0072308,tt0031983,tt0053137,tt0050419']
['nm0000002', 'Lauren Bacall', '1924', '2014', 'actress,soundtrack', 'tt0037382,tt0075213,tt0038355,tt0117057']
['nm0000003', 'Brigitte Bardot', '1934', '\\N', 'actress,soundtrack,music_department', 'tt0057345,tt0049189,tt0054452,tt0056404']
['nm0000004', 'John Belushi', '1949', '1982', 'actor,soundtrack,writer', 'tt0072562,tt0077975,tt0078723,tt0080455']
['nm0000005', 'Ingmar Bergman', '1918', '2007', 'writer,director,actor', 'tt0050976,tt0050986,tt0069467,tt0083922']
['nm0000006', 'Ingrid Bergman', '1915', '1982', 'actress,soundtrack,producer', 'tt0034583,tt0038787,tt0038109,tt0036855']
['nm0000007', 'Humphrey Bogart', '1899', '1957', 'actor,soundtrack,producer', 'tt0037382,tt0043265,tt0034583,tt0042593']
['nm0000008', 'Marlon Brando', '1924', '2004', 'actor,soundtrack,director', 'tt0068646,tt0047296,tt0078788,tt0070849']
['nm0000009', 'Richard Burton', '1925', '1984', 'actor,soundtrack,producer', 'tt0061184,tt0059749,tt0057877,tt0087803']

# ! Extrair os dados do zip ❌
Eles estão todos com o mesmo nome precisam ser extraidos

In [8]:
from rarfile import RarFile  
import csv

caminho_do_arquivo_rar = 'data/name.basics.tsv.gz'
nome_do_arquivo_csv = "data.tsv"

dados_lidos = []

# Abre o arquivo WinRAR
with RarFile(caminho_do_arquivo_rar, 'r') as arquivo_rar:
    # Verifica se o arquivo CSV está no WinRAR
    if nome_do_arquivo_csv in arquivo_rar.namelist():
        # Extrai o arquivo CSV para uma pasta temporária ou para o diretório atual
        arquivo_rar.extract(nome_do_arquivo_csv)
        
        # Agora podemos ler o arquivo CSV normalmente
        with open(nome_do_arquivo_csv, 'r', newline='', encoding='utf-8') as arquivo_csv:
            leitor_csv = csv.reader(arquivo_csv)
            
            # Armazena os dados lidos em uma lista
            dados_lidos = [linha for linha in leitor_csv]
    else:
        print(f"O arquivo '{nome_do_arquivo_csv}' não foi encontrado no WinRAR.")

NotRarFile: Not a RAR file

# Trabalhando com os Dados

## Chamar um filmes dos dados. ❌
qualquer filme

In [14]:
import csv
import pandas as pd

#caminho_do_arquivo = "data/name.basics.tsv"
caminho_do_arquivo =  "data/title.basics.tsv"

# Lista para armazenar os dados
dados = []

# Contador para controlar o número de linhas lidas
contador_linhas = 0

# Abre o arquivo no modo de leitura
with open(caminho_do_arquivo, 'r', newline='', encoding='utf-8') as arquivo_tsv:
    leitor_tsv = csv.reader(arquivo_tsv, delimiter='\t')  # Definindo o delimitador como tabulação (\t)
    
    # Itera sobre cada linha do arquivo
    for linha in leitor_tsv:
        dados.append(linha)
        contador_linhas += 1
        
        # Se o contador atingir 10, interrompemos a leitura do arquivo
        if contador_linhas >= 10:
            break

# Agora a variável 'dados' contém apenas as 10 primeiras linhas do arquivo .tsv.
# Você pode acessar os elementos específicos usando a notação de índices, por exemplo:
# dados[0] irá fornecer a primeira linha do arquivo .tsv.

# Exemplo de impressão dos dados:
for linha in dados:
    print(linha[2]+ "   " + linha[5])
dataframe = pd.read_csv(caminho_do_arquivo_csv)

# Obtém os 30 primeiros registros do DataFrame
primeiros_30_registros = dataframe.head(30)

# Imprime os 30 primeiros registros
print(primeiros_30_registros)

primaryTitle   startYear
Carmencita   1894
Le clown et ses chiens   1892
Pauvre Pierrot   1892
Un bon bock   1892
Blacksmith Scene   1893
Chinese Opium Den   1894
Corbett and Courtney Before the Kinetograph   1894
Edison Kinetoscopic Record of a Sneeze   1894
Miss Jerry   1894

In [ ]:
# Lendo nossos Data Frames
import pandas as pd

caminho_do_arquivo_tsv = "data/title.basics.tsv"

# Lê o arquivo TSV e carrega os dados em um DataFrame
dataframe = pd.read_csv(caminho_do_arquivo_tsv, delimiter='\t')

In [31]:
caminho_do_arquivo_tsv = "data/title.ratings.tsv"

# Lê o arquivo TSV e carrega os dados em um DataFrame
dataframeRating = pd.read_csv(caminho_do_arquivo_tsv, delimiter='\t')

In [32]:
dataframeRating.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1990
1  tt0000002            5.8       265
2  tt0000003            6.5      1851
3  tt0000004            5.5       178
4  tt0000005            6.2      2636

In [19]:
dataframe.head(10)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"
5,tt0000006,short,Chinese Opium Den,Chinese Opium Den,0,1894,\N,1,Short
6,tt0000007,short,Corbett and Courtney Before the Kinetograph,Corbett and Courtney Before the Kinetograph,0,1894,\N,1,"Short,Sport"
7,tt0000008,short,Edison Kinetoscopic Record of a Sneeze,Edison Kinetoscopic Record of a Sneeze,0,1894,\N,1,"Documentary,Short"
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,\N,45,Romance
9,tt0000010,short,Leaving the Factory,La sortie de l'usine Lumière à Lyon,0,1895,\N,1,"Documentary,Short"

In [20]:
dataframe.tail(10)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
10044523,tt9916838,tvEpisode,Episode #3.13,Episode #3.13,0,2009,\N,\N,"Action,Drama,Family"
10044524,tt9916840,tvEpisode,Horrid Henry's Comic Caper,Horrid Henry's Comic Caper,0,2014,\N,11,"Adventure,Animation,Comedy"
10044525,tt9916842,tvEpisode,Episode #3.16,Episode #3.16,0,2009,\N,\N,"Action,Drama,Family"
10044526,tt9916844,tvEpisode,Episode #3.15,Episode #3.15,0,2009,\N,\N,"Action,Drama,Family"
10044527,tt9916846,tvEpisode,Episode #3.18,Episode #3.18,0,2009,\N,\N,"Action,Drama,Family"
10044528,tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0,2009,\N,\N,"Action,Drama,Family"
10044529,tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0,2010,\N,\N,"Action,Drama,Family"
10044530,tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0,2010,\N,\N,"Action,Drama,Family"
10044531,tt9916856,short,The Wind,The Wind,0,2015,\N,27,Short
10044532,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014,\N,10,"Adventure,Animation,Comedy"

In [21]:
#Verificando asgumas informações do conteudo
dataframe.shape

(10044533, 9)

In [ ]:
dataframe.info()

In [25]:
colunas_para_remover = ['isAdult', 'endYear', 'runtimeMinutes']

df = dataframe.drop(columns=colunas_para_remover)
df.head()

,tconst,titleType,primaryTitle,originalTitle,startYear,genres
0,tt0000001,short,Carmencita,Carmencita,1894,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,1892,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,1892,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,1892,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,1893,"Comedy,Short"

In [27]:
df_filmes = df[df['titleType'].str.contains('movie', case=False)]
df_filmes.head()

,tconst,titleType,primaryTitle,originalTitle,startYear,genres
8,tt0000009,movie,Miss Jerry,Miss Jerry,1894,Romance
144,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,1897,"Documentary,News,Sport"
498,tt0000502,movie,Bohemios,Bohemios,1905,\N
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,"Action,Adventure,Biography"
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,1907,Drama

In [ ]:
df_filmes.info()

In [30]:
# Ordena o DataFrame pelo valor da coluna 'data_do_filme' em ordem crescente (do mais antigo para o mais recente)
df_ordenado_por_data = df_filmes.sort_values(by='startYear')
df_ordenado_por_data.head()

,tconst,titleType,primaryTitle,originalTitle,startYear,genres
8,tt0000009,movie,Miss Jerry,Miss Jerry,1894,Romance
5696280,tt2210499,movie,Birmingham,Birmingham,1896,Documentary
144,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,1897,"Documentary,News,Sport"
219957,tt0229676,movie,Reproduction of the Corbett and Fitzsimmons Fight,Reproduction of the Corbett and Fitzsimmons Fight,1897,"Documentary,News,Sport"
211839,tt0221040,movie,"Buck Dance, Ute Indians","Buck Dance, Ute Indians",1898,Documentary

In [33]:
#Concatenando
# Realiza a junção entre os DataFrames usando o nome do filme como chave
# Utilizamos o 'how' como 'inner' para manter apenas os filmes que possuem nota em ambos os DataFrames
dt_completo = pd.merge(df_filmes, dataframeRating, on='tconst', how='inner')

In [34]:
dt_completo.head()

,tconst,titleType,primaryTitle,originalTitle,startYear,genres,averageRating,numVotes
0,tt0000009,movie,Miss Jerry,Miss Jerry,1894,Romance,5.3,206
1,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,1897,"Documentary,News,Sport",5.3,480
2,tt0000502,movie,Bohemios,Bohemios,1905,\N,4.1,15
3,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,"Action,Adventure,Biography",6.0,839
4,tt0000591,movie,The Prodigal Son,L'enfant prodigue,1907,Drama,4.4,20

In [36]:
df_ordenado_por_nota = dt_completo.sort_values(by='averageRating')
df_ordenado_por_nota.tail()

,tconst,titleType,primaryTitle,originalTitle,startYear,genres,averageRating,numVotes
243897,tt19845076,movie,American Immigrants,American Immigrants,2022,Documentary,10.0,9
266960,tt26258974,movie,An actor's routine,An actor's routine,2023,Documentary,10.0,9
170649,tt0953484,tvMovie,Magic Castle After Dark,Magic Castle After Dark,2006,Family,10.0,10
133853,tt0341402,tvMovie,I Love Morecambe & Wise,I Love Morecambe & Wise,2002,"Comedy,Documentary",10.0,7
272034,tt28468766,movie,Ishq Ka Pyaada,Ishq Ka Pyaada,2023,Drama,10.0,6

### tconst è o nome do filme
vamos contatenar nossos filmes com suas notas.

filtrar por filmes

e eliminar as colunas que não vamos usar